body, html{
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: darkgrey;
}


.logo {
    position: fixed; 
    top: .5rem; 
    left: 20px; 
    color: white;
    font-family: 'Arial', sans-serif; 
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 999;
    letter-spacing: 10px;
    text-transform: uppercase;
    mix-blend-mode: difference;
}





.img1, .img2, .img3, .img4, .img12{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	background-attachment: fixed;
}

.img1{
	background-image: url('hgalax.jpg');
	min-height: 100%;
}

.img2{
	background-image: url('galax.jpg');
	min-height: 400px;
}
.img3{
	background-image: url('galaxx.jpg');
	min-height: 400px;
}
.img4{
	background-image: url('blugalax.jpg');
	min-height: 400px;
}

.sec1{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: .8em;
	padding: 50px 80px;
}
.infotext{
	margin: 20px;
	text-align: center;
}

.section{
	text-align: center;
	padding: 50px 80px;
}

.dark{
	background-color: #282e34;
	color: #ddd;
}

.text{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
	font-weight: 900;
	font-size: 40px;
	letter-spacing: 5px;
	mix-blend-mode: difference;
}

.avatar{
	 vertical-align: middle;
  	width: 8em;
  	height: 8em;
  	border-radius: 50%;
  	border: 2px solid whitesmoke;
}

.info{
	line-height: 1.8em;
	margin-top: 3em;
}


.list-container {
    display: flex;
}

.column {
    flex: 1;
    margin-left: 20px;
}

h3 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;

}

li {
    margin-bottom: 5px;
}

#ics{
    cursor: help;
}
#ics::before{
	content: "ICS";
}

#ics:hover::before {
    content: "Immaculate Concepcion School";
}

#kwca{
	cursor: help;
}
#kwca:before{
	content: "KWCA";
}

#kwca:hover::before{
	content: "Kings Way Christian Academe";
}

#cca{
	cursor: help;
}
#cca::before{
	content: "CCAI (ICT)";
}
#cca:hover::before{
	content: "Cavite Community Academy Inc.";
}

#cv{
	cursor: help;
}
#cv::before{
	content: "CvSU (BSIT)";
}
#cv:hover::before{
	content: "Cavite State University Naic (Undergraduate)";
}


#geym::before{
	text-decoration: underline;
	content: "Online Games";
}
#geym:hover::before{
	content: "Valorant, Asphalt 9: Legends, Counter-Strike, PUBG, ...";
	text-decoration: none;
}


#hob::before{
	content: "Progamming";
	text-decoration: underline;
}
#hob:hover::before{
	content: "Random Coding Projects";
	text-decoration: none;
}
.fav{
	flex: 1;
    margin-right: 20px;
}
.bobb{
	column-gap: -50px;
}

#mm{
	position: relative;
	cursor: help;
}

#mm::before{
	content: "Photo Editing";
}
#mm:hover::before{
	content: "Photoshop";
}

#mm2{
	position: relative;
	cursor: help;
}

#mm2::before{
	content: "Video Editing";
}
#mm2:hover::before{
	content: "DaVinci Resolve, Adobe Premiere Pro, Hitfilm Express";
}

#pp{
	position: relative;
	cursor: help;
}

#pp::before{
	content: "Back-End";
}
#pp:hover::before{
	content: "PHP: Hypertext Preprocessor, SQL, java (Beginner lvl)";
}

#pp2{
	position: relative;
	cursor: help;
}

#pp2::before{
	content: "Front-End";
}
#pp2:hover::before{
	content: "HTML, Javascript (Beginner lvl), CSS (Beginner lvl)";
}

#db{
	position: relative;
	cursor: help;
}

#db::before{
	content: "Database Integration";
}
#db:hover::before{
	content: "MySQL";
}







.card {
  display: flex;
  height: 70px;
  width: 350px;
}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
}

.card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4,.card .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #242c34;
  animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
  background-color: #5865f2;
  animation: bounce_613 0.4s linear;
}

.card .social-link4:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.card .social-link5:hover {
  background-color: #1DB954;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

#hover{
	font-size: 2.8em;
}

.doge{
	mix-blend-mode: normal;
	height: 25em;
	width: 50em;
}

.img12{
	background-image: url("hgalax.jpg");
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.t{
	width: 80%;
	max-width: 800px;
}